<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="customers" [rows]="10" [paginator]="true" [globalFilterFields]="['fullName']"
        [(selection)]="selectedCustomers" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Customers</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="fullName">Full Name <p-sortIcon field="fullName"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.id}}</td>
                <td>{{customer.fullName}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(customer)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(customer)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{customers ? customers.length : 0 }} customers.
            </div>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="customerDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="customerRequestForm">
    <ng-template pTemplate="content">
        <div class="p-field p-mb-3">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="customer.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !customer.name">Name is required.</small>
        </div>

        <div class="p-field p-mt-3">
            <label for="lastName">Last Name</label>
            <input type="text" pInputText id="lastName" [(ngModel)]="customer.lastName" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !customer.lastName">Last Name is required.</small>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</form>
</p-dialog>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

